extends layout.pug 

block content 
    h1= t('tasks.editingTask')

    form(action= paths.showEditDeleteTask(task.id), method= 'post')
        input(name= '_method', type= 'hidden', value= 'patch')
        .mb-3
            label.form-label(for= 'data-name')= t('tasks.name')
            input.form-control(id = 'data-name', type= 'text', placeholder= t('tasks.name'), name= 'data[name]', value= (task || {}).name)

        .mb-3
            label.form-label(for= 'data-description')= t('tasks.description')
            textarea.form-control(id = 'data-description', name= 'data[description]')= (task || {}).description

        .mb-3
            label.form-label(for= 'data-statusId')= t('tasks.status')
            select.form-control(id = 'data-statusId', name= 'data[statusId]')
                option(autocomplete= 'off')
                each status in statuses 
                    option(value= status.id, autocomplete= 'off', selected= (task.statusId==status.id) ? 'true' : false)= status.name

        .mb-3
            label.form-label(for= 'data-executorId')= t('tasks.executor')
            select.form-control(id = 'data-executorId', name= 'data[executorId]')
                option
                each user in users 
                    option(value= user.id)= user.firstName + ' ' + user.lastName

        .mb-3
            label.form-label(for= 'data-labels')= t('tasks.labels')
            select.form-control(id = 'data-labels', name= 'data[labels]', multiple= 'multiple')
                each label in labels
                    option(value= label.id, autocomplete= 'off', selected= (label.selected ? 'true' : false))= label.name


        button.btn.btn-primary(type= 'submit')= t('tasks.edit')