extends layout.pug 

block content
    h1= t('editUser.editUser')

    form(action= paths.editDeleteUser(user.id), method= 'post')
        .mb-3
            label.form-label(for= 'data_firstName')= t('signUp.firstName')
            input.form-control(id= 'data_firstName', class= (errors.firstName ? 'is-invalid' : ''), type= 'text', placeholder= t('signUp.firstName'), name= 'data[firstName]', value= user.firstName)

        .mb-3
            label.form-label(for= 'data_lastName')= t('signUp.lastName')
            input.form-control(id= 'data_lastName', class= (errors.lastName ? 'is-invalid' : ''), type= 'text', placeholder= t('signUp.lastName'), name= 'data[lastName]', value= user.lastName)

        .mb-3
            label.form-label(for= 'data_email')= t('signUp.email')
            input.form-control(id= 'data_email', class= (errors.email ? 'is-invalid' : ''), type= 'text', placeholder= t('signUp.email'), name= 'data[email]', value= user.email)

        .mb-3
            label.form-label(for= 'data_password')= t('signUp.password')
            input.form-control(id= 'data_password', class= (errors.password ? 'is-invalid' : ''), type= 'password', placeholder= t('signUp.password'), name= 'data[password]', value= user.password)

        button.btn.btn-primary(type= 'submit')= t('layout.edit')