extends layout.pug 

block content 
    h1= t('login.login')

    form(action= paths.session(), method= 'post')
        .mb-3
            label.form-label(for= 'data-email')= t('signUp.email')
            input.form-control(id= 'data-email', class= (error ? 'is-invalid' : ''), type= 'text', placeholder= t('signUp.email'), name= 'data[email]', value= (user || {}).email)
            if error 
                .form-control-feedback.invalid-feedback= t('login.error')

        .mb-3
            label.form-label(for= 'data-password')= t('signUp.password')
            input.form-control(id= 'data-password', type= 'password', placeholder= t('signUp.password'), name= 'data[password]', value= (user || {}).password)

        button.btn.btn-primary(type= 'submit')= t('login.submit')