extends layout.pug 
include mixins.pug

block content
    .d-flex.justify-content-between.align-items-center.mb-3
        h1= t('tasks.tasks')
        a(href= paths.createTask()).btn.btn-primary= t('tasks.createTask')

    .card.mb-3
        .card-body.p-3
            form(actions= paths.tasks(), method= 'get')
                .row
                    .input-group.mb-3.col
                        label(for= 'data_status').input-group-text= t('tasks.status')
                        select.form-select.form-control(id = 'data_status', name= 'status')
                            option(autocomplete= 'off')
                            each status in statuses
                                option(value= status.id, autocomplete= 'off' selected= (status.id == query.status))= status.name
                    .input-group.mb-3.col
                        label(for= 'data_executor').input-group-text= t('tasks.executor')
                        select.form-select.form-control(id = 'data_executor', name= 'executor')
                            option(autocomplete= 'off')
                            each user in users
                                option(value= user.id, autocomplete= 'off', selected= (user.id == query.executor))= user.firstName + ' ' + user.lastName
                    .input-group.mb-3.col
                        label(for= 'data_label').input-group-text= t('tasks.label')
                        select.form-select.form-control(id = 'data_label', name= 'label')
                            option(autocomplete= 'off')
                            each label in labels
                                option(value= label.id, autocomplete= 'off', selected= (label.id == query.label))= label.name
                .form-check.mb-3 
                    input(id= 'data_isCreatorUser', type= 'checkbox', name= 'isCreatorUser').form-check-input
                    label(for='data_isCreatorUser').form-check-label= t('tasks.onlyMyTasks')
                input(type= 'submit', value= t('tasks.show')).btn.btn-primary



    .table-responsive
        table.table
            thead 
                tr
                    th= t('layout.id')
                    th= t('tasks.name')
                    th= t('tasks.status')
                    th= t('tasks.author')
                    th= t('tasks.executor')
                    th= t('layout.createDate')
                    th= t('layout.actions')
            tbody
                each task in tasks
                    tr 
                        td= task.id
                        td
                            a(href= paths.showEditDeleteTask(task.id))=  task.name
                        td= task.status.name
                        td= task.creator.firstName + ' ' + task.creator.lastName
                        td
                            if task.executor 
                                = task.executor.firstName + ' ' + task.executor.lastName
                        td= timestamp(task.createDate)
                        td.d-flex.flex-wrap
                            a(href= paths.editTask(task.id)).btn.btn-primary.me-1= t('layout.edit')
                            +buttonTo(paths.showEditDeleteTask(task.id), 'delete')(class= 'btn btn-danger', value= t('layout.delete'))
