extends layout.pug 
include mixins.pug

block content 
    h1= t('users.users')

    .table-responsive
        table.table
            thead 
                tr
                    th= t('users.id')
                    th= t('users.fullName')
                    th= t('users.email')
                    th= t('users.createDate')
                    th= t('users.actions')
            tbody
                each user in users 
                    tr 
                        td= user.id 
                        td= user.firstName + ' ' + user.lastName 
                        td= user.email
                        td= timestamp(user.createDate)
                        td.d-flex.flex-wrap
                            a(href= paths.editUser(user.id)).btn.btn-primary.me-1= t('users.edit')
                            +buttonTo(paths.users() + user.id, 'delete')(class= 'btn btn-danger', value= t('users.delete'))
